<section class="section-content padding-y">
	<div class="container">
		<div class="row">
			<main class="col-md-9">
				<div class="card">
                    <div *ngIf="_ligneCommandeCharge==false" class="row">
                        <div class="col-md-12 mb15">
                            <article class="card card-body">
                                <figure class="text-center">
                                    <span class="rounded-circle icon-md bg-secondary"><i class="far fa-clock white"></i></span>
                                    <figcaption class="pt-4">
                                    <h5 class="title">You have not made any order</h5>
                                    <p>Order your orders delivered to you home </p>
                                    </figcaption>
                                </figure> <!-- iconbox // -->
                            </article> <!-- panel-lg.// -->
                        </div>
                    </div>
					<table class="table table-borderless table-shopping-cart" *ngIf="_ligneCommandeCharge==true">
						<thead class="text-muted">
							<tr class="small text-uppercase">
							  <th scope="col">Product</th>
							  <th scope="col" width="120">Quantity</th>
							  <th scope="col" width="120">Price</th>
							  <th scope="col" class="text-right" width="200"> </th>
							</tr>
						</thead>
						<tbody>
							<tr  *ngFor = "let produit of LigneCommandes">
								<td>
									<figure class="itemside">
										<div class="aside"><img [src]="produit.product.Image[0]" class="img-sm"></div>
										<figcaption class="info">
											<a href="#" class="title text-dark">{{ produit.product.libelle }}</a>
											<p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>
										</figcaption>
									</figure>
								</td>
								<td> 
									<div class="form-group col-md flex-grow-0">
                                        <div class="input-group mb-3 input-spinner">
                                          <div class="input-group-prepend">
                                            <button class="btn btn-light" (click)="addQuantity(produit._id,produit)" type="button" id="button-plus"> + </button>
                                          </div>
                                          <input type="text" disabled class="form-control" [(ngModel)]="produit.qte">
                                          <div class="input-group-append">
                                            <button class="btn btn-light" (click)="minusQuantity(produit._id,produit)" type="button" id="button-minus"> &minus; </button>
                                          </div>
                                        </div>
                                    </div>
								</td>
								<td> 
									<div class="price-wrap"> 
										<var class="price">${{ produit.product.prixVent *  produit.qte}}.00</var> 
										<small class="text-muted"> ${{ produit.product.prixVent }}.00 each </small> 
									</div> <!-- price-wrap .// -->
								</td>
								<td class="text-right"> 
								<a data-original-title="Save to Wishlist" title="" href="#" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
								<a (click)="deleteLigneCommande(produit._id)"  class="btn btn-light"> Remove</a>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="card-body border-top">
						<a class="btn btn-primary float-md-right" (click)="makePurchase()"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
						<a href="#" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
					</div>	
				</div>
				<div class="alert alert-success mt-3">
					<p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
				</div>
			</main>
			<aside class="col-md-3">
				<div class="card mb-3">
					<div class="card-body">
					<form>
						<div class="form-group">
							<label>{{_couponText}}</label>
							<div class="input-group">
								<input type="text" class="form-control" name="coupon" [(ngModel)]="_coupon" placeholder="Coupon code">
								<span class="input-group-append"> 
									<button class="btn btn-primary" (click)="CouponSearch()">Apply</button>
								</span>
							</div>
						</div>
					</form>
					</div> <!-- card-body.// -->
				</div>  <!-- card .// -->
				<div class="card">
					<div class="card-body">
							<dl class="dlist-align">
							  <dt>Total price:</dt>
							  <dd class="text-right">USD {{ _totalePrice }}</dd>
							</dl>
							<dl class="dlist-align">
							  <dt>Discount:</dt>
							  <dd class="text-right">USD {{ _discount }}</dd>
							</dl>
							<dl class="dlist-align">
							  <dt>Total:</dt>
							  <dd class="text-right  h5"><strong>${{ _total }}</strong></dd>
							</dl>
							<hr>
							<!-- <p class="text-center mb-3">
								<img src="assets/images/misc/payments.png" height="26">
                                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                                
							</p> -->
							
					</div> <!-- card-body.// -->
				</div>  <!-- card .// -->
			</aside>
            
		</div>
	</div>
</section>