<section class="padding-bottom">
	<header class="section-heading heading-line">
		<h4 class="title-section text-uppercase">{{ 'TRENDING' | translate }} </h4>
	</header>
	<div class="card card-home-category">
		<div class="row no-gutters">
			<div class="col-md-3">
				<div class="home-category-banner bg-light-orange">
					<h5 class="title">{{ 'BEST-TRENDING-PRODUCTS' | translate }} </h5>
					<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					<a href="#" class="btn btn-outline-primary rounded-pill">Source now</a>
					<img src="assets/images/products/29.png" class="img-bg" style="position: absolute;right: 10%;">
				</div>
			</div> <!-- col.// -->
			<div class="col-md-9">
				<ul class="row no-gutters bordered-cols">
					<li class="col-6 col-lg-3 col-md-4">
						<a href="#" class="item"> 
							<div class="card-body">
								<h6 class="title">Well made women clothes with trending collection  </h6>
								<img class="img-sm float-right" src="assets/images/products/30.jpg"> 
								<p class="text-muted"><i class="fa fa-map-marker-alt"></i> Categorie Name</p>
							</div>
						</a>
					</li>
					<li class="col-6 col-lg-3 col-md-4">
						<a href="#" class="item"> 
							<div class="card-body">
								<h6 class="title">Great clothes with trending collection  </h6>
								<img class="img-sm float-right" src="assets/images/products/31.jpg"> 
								<p class="text-muted"><i class="fa fa-map-marker-alt"></i> Categorie Name</p>
							</div>
						</a>
					</li>
					<li class="col-6 col-lg-3 col-md-4">
						<a href="#" class="item"> 
							<div class="card-body">
								<h6 class="title">Demo clothes with sample collection  </h6>
								<img class="img-sm float-right" src="assets/images/products/32.jpg"> 
								<p class="text-muted"><i class="fa fa-map-marker-alt"></i> Categorie Name</p>
							</div>
						</a>
					</li>
					<li class="col-6 col-lg-3 col-md-4">
						<a href="#" class="item"> 
							<div class="card-body">
								<h6 class="title">Home and kitchen electronic  stuff collection  </h6>
								<img class="img-sm float-right" src="assets/images/products/33.jpg"> 
								<p class="text-muted"><i class="fa fa-map-marker-alt"></i> Categorie Name</p>
							</div>
						</a>	
					</li>
					<li class="col-6 col-lg-3 col-md-4">
						<a href="#" class="item"> 
							<div class="card-body">
								<h6 class="title">Home and kitchen electronic  stuff collection  </h6>
								<img class="img-sm float-right" src="assets/images/products/34.jpg"> 
								<p class="text-muted"><i class="fa fa-map-marker-alt"></i> Categorie Name</p>
							</div>
						</a>
					</li>
					<li class="col-6 col-lg-3 col-md-4">
						<a href="#" class="item"> 
							<div class="card-body">
								<h6 class="title">Home and kitchen electronic  stuff collection  </h6>
								<img class="img-sm float-right" src="assets/images/products/35.jpg"> 
								<p class="text-muted"><i class="fa fa-map-marker-alt"></i> Categorie Name</p>
							</div>
						</a>
					</li>
					<li class="col-6 col-lg-3 col-md-4">
						<a href="#" class="item"> 
							<div class="card-body">
								<h6 class="title">Well made clothes with trending collection </h6>
								<img class="img-sm float-right" src="assets/images/products/36.jpg"> 
								<p class="text-muted"><i class="fa fa-map-marker-alt"></i> Categorie Name</p>

							</div>
						</a>
					</li>
					<li class="col-6 col-lg-3 col-md-4">
						<a href="#" class="item"> 
							<div class="card-body">
								<h6 class="title">Home and kitchen interior  stuff collection   </h6>
								<img class="img-sm float-right" src="assets/images/products/38.jpg"> 
								<p class="text-muted"><i class="fa fa-map-marker-alt"></i> Categorie Namea</p>
							</div>
						</a>
					</li>
				</ul>
			</div> <!-- col.// -->
		</div> <!-- row.// -->
	</div> <!-- card.// -->
</section>