<section class="section-content bg-white padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-md-6">
          <div class="card">
            <article class="gallery-wrap"> 
              <div class="img-big-wrap">
                <div (click)="imageZoom(_url)">
                  <lib-ngx-image-zoom
                      [thumbImage]=_url
                      [fullImage]=_url
                      [magnification]="2"
                      [enableScrollZoom]="true"
                      [enableLens]="true"
                      [lensWidth]="200"
                  ></lib-ngx-image-zoom>
                </div>
              </div> <!-- slider-product.// -->
              <div class="thumbs-wrap">
                  <a class="item-thumb" *ngFor = "let url of Produit.Image"> 
                    <img [src]="url" (mouseover)="changeImage(url)">
                  </a>
              </div>
            </article>
          </div>
            </aside>
            <main class="col-md-6">
          <article class="product-info-aside">
            <h2 class="title mt-3">{{Produit.libelle}} </h2>
            <span class="text-muted">{{ Produit.hideline }}</span> 
                <div class="rating-wrap my-3">
                    <ul class="rating-stars">
                        <li style="width:80%" class="stars-active"> 
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                        </li>
                        <li>
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                        </li>
                    </ul>
                    <small class="label-rating text-muted">132 Sales</small>
                    <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> {{ Produit.qteStock }} orders </small>
                </div> <!-- rating-wrap.// -->
                <div class="mb-3"> 
                    <var class="price h4">USD {{ Produit.prixVent }},00</var>
                </div>
                <p>{{Produit.description}}</p>
  
                <dl class="row">
                  <dt class="col-sm-3">Manufacturer</dt>
                  <dd class="col-sm-9"><a>{{Produit.Marque.libelle}}</a></dd>
  
                  <dt class="col-sm-3">Code Bare</dt>
                  <dd class="col-sm-9">{{Produit.codeBare}}</dd>

                  <dt class="col-sm-3">Article number</dt>
                  <dd class="col-sm-9">{{Produit._id}}</dd>
  
                  <dt class="col-sm-3">Guarantee</dt>
                  <dd class="col-sm-9">1 year</dd>
  
                  <dt class="col-sm-3">Delivery time</dt>
                  <dd class="col-sm-9">20-40 days</dd>
                  <dt class="col-sm-3">Availabilty</dt>
                  <dd class="col-sm-9">in Stock</dd>
                </dl>
  
                  <div class="form-row  mt-4">
                      <div class="form-group col-md flex-grow-0">
                          <div class="input-group mb-3 input-spinner">
                            <div class="input-group-prepend">
                              <button class="btn btn-light" (click)="plusqte()" type="button" id="button-plus"> + </button>
                            </div>
                            <input type="text" disabled class="form-control" [(ngModel)]="_qte">
                            <div class="input-group-append">
                              <button class="btn btn-light" (click)="minqte()" type="button" id="button-minus"> &minus; </button>
                            </div>
                          </div>
                      </div> 
                      <div class="form-group col-md">
                          <a (click)="createCommand()"  class="btn  btn-primary" style="color: white;"> 
                              <i class="fas fa-shopping-cart"></i> <span class="text">Add to cart</span> 
                          </a>
                          <a (click)="SendMail(Produit)" class="btn btn-light">
                            <i class="fas fa-envelope"></i> <span class="text">Contact supplier</span> 
                          </a>
                      </div> 
                  </div>
  
          </article>
            </main>
        </div>
    </div>
  </section>
  <section class="section-name padding-y bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h5 class="title-description">Description</h5>
          <p>
            {{Produit.description}}. 
          </p>
          <ul class="list-check">
          <li>Material: Stainless steel</li>
          <li>Weight: 82kg</li>
          <li>built-in drip tray</li>
          <li>Open base for pots and pans</li>
          <li>On request available in propane execution</li>
          </ul>

          <h5 class="title-description">Specifications</h5>
          <table class="table table-bordered">
              <tr> <th colspan="2">Basic specs</th> </tr>
              <tr> <td>Type of Product</td><td>{{Produit.typeProduct}}</td> </tr>
              <tr> <td>Marque</td><td>{{Produit.Marque.libelle}}</td> </tr>
              <tr> <td>Model</td><td>{{Produit.anneModel}}</td> </tr>
              <tr> <td>Categorie	</td> <td> <i class="fa fa-check text-success"></i> {{Produit.categorie.libelle}} </td></tr>
              <tr> <td>User	</td> <td> <i class="fa fa-check text-success"></i> {{Produit.Univer.libelle}} </td></tr>

              <tr> <th colspan="2">Connections</th> </tr>
              <tr> <td>#ID Of Article</td><td>{{Produit._id}}</td> </tr>
              <tr> <td>Code Bare</td><td>{{Produit.codeBare}}</td> </tr>
              <tr> <td>Libelle</td><td>{{Produit.libelle}}</td> </tr>
              <tr> <td>Hideline</td><td>{{Produit.hideline}}</td> </tr>
              <tr> <td>Stock</td><td>{{Produit.qteStock}}</td> </tr>

          </table>
      </div> 
          
          <aside class="col-md-4">
  
              <div class="box">
              
              <h5 class="title-description">Files</h5>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
  
          <h5 class="title-description">Videos</h5>
            
  
          <article class="media mb-3">
            <a href="#"><img class="img-sm mr-3" src="assets/images/posts/3.jpg"></a>
            <div class="media-body">
              <h6 class="mt-0"><a href="#">How to use this item</a></h6>
              <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
            </div>
          </article>
  
          <article class="media mb-3">
            <a href="#"><img class="img-sm mr-3" src="assets/images/posts/2.jpg"></a>
            <div class="media-body">
              <h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
              <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
            </div>
          </article>
  
          <article class="media mb-3">
            <a href="#"><img class="img-sm mr-3" src="assets/images/posts/1.jpg"></a>
            <div class="media-body">
              <h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
              <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
            </div>
          </article>
  
  
              
          </div> <!-- box.// -->
          </aside> 
      </div>
    </div>
  </section>
