<section class="section-pagetop bg-gray">
	<div class="container">
		<h2 class="title-page">My account</h2>
	</div>
</section>
<section class="section-content padding-y">
	<div class="container">
		<div class="row">
			<aside class="col-md-3">
				<nav class="list-group">
					<a class="list-group-item active" href="page-profile-main.html"> Account overview  </a>
					<a class="list-group-item" href="page-profile-orders.html"> My Orders </a>
					<a class="list-group-item" href="page-profile-wishlist.html"> My wishlist </a>
					<a class="list-group-item" href="page-profile-seller.html"> My Selling Items </a>
					<a class="list-group-item" href="page-profile-setting.html"> Settings </a>
					<a class="list-group-item" href="page-index-1.html"> Log out </a>
				</nav>
			</aside>
			<main class="col-md-9">
				<article class="card mb-3">
					<div class="card-body">
						<figure class="icontext">
								<div class="icon">
									<img class="rounded-circle img-sm border" [src]="User.imgProfile">
								</div>
								<div class="text">
									<strong> {{ User.nom }} {{ User.prenom }} </strong> <br> 
									<p class="mb-2"> {{ User.email }}  </p>
								</div>
						</figure>
					<hr>
				    <div class="card mx-auto">
                    <article class="card-body">
                      <form>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Nom</label>
                                    
                                    <input type="text" name="nom"  [(ngModel)] = "User.nom" class="form-control" placeholder="Nom">
                                </div> 
                                <div class="col form-group">
                                    <label>Prenom</label>
                                    <input type="text" [(ngModel)] = "User.prenom" name="prenom" class="form-control" placeholder="Prenom">
                                </div> 
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>CNE</label>
                                    <input type="text" [(ngModel)] = "User.cne" name="cne" class="form-control" placeholder="CNE: EE854712">
                                </div> 
                                <div class="col form-group">
                                    <label>Tel</label>
                                    <input type="text" [(ngModel)] = "User.tel" name="tel" class="form-control" placeholder="Telephone: +212606988480">
                                </div> 
                                <div class="col form-group">
                                    <label>Date Naissance</label>
                                    <input type="date" [(ngModel)] = "User.dateNaissance" name="dateNaissance" class="form-control">
                                </div> 
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Adresse</label>
                                    <textarea class="form-control" [(ngModel)] = "User.adresse" name="adresse"></textarea>
                                </div> 
                            </div> 
                            <div class="form-row">
                                <div class="form-group col-md-7">
                                    <article class="box mb-4">
                                        <h6>Choiser l'image</h6>
                                        <input type="file" (change)="selectFiles($event)" >
                                    </article>
                                </div>
                                <div class="form-group col-md-5">
                                    <article class="box mb-4">
                                        <div class="icon">
                                            <img class="rounded-circle img-sm border" [src]="User.imgProfile" style="margin-right: 10px;">
                                            <a (click)="delete_img()" class="btn btn-light"> <i class="text-danger fa fa-trash"></i> </a>
                                        </div>
                                        
                                    </article>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" (click)="updateProfile()"> Update </button>
                            </div>         
                          </form>
                      </article>
                  </div> 
                  <hr>
                    <article class="card-group card-stat">
                        <figure class="card bg">
                            <div class="p-3">
                                    <h4 class="title">0</h4>
                                <span>Orders</span>
                            </div>
                        </figure>
                        <figure class="card bg">
                            <div class="p-3">
                                    <h4 class="title">0</h4>
                                <span>Wishlists</span>
                            </div>
                        </figure>
                        <figure class="card bg">
                            <div class="p-3">
                                    <h4 class="title">0</h4>
                                <span>Awaiting delivery</span>
                            </div>
                        </figure>
                        <figure class="card bg">
                            <div class="p-3">
                                    <h4 class="title">0</h4>
                                <span>Delivered items</span>
                            </div>
                        </figure>
                    </article>
					</div>
				</article>
			</main>
		</div>
	</div>
</section>