<section  class="padding-bottom">

	<header class="section-heading heading-line">
		<h4 class="title-section text-uppercase">{{ 'TRADE-SERVICES' | translate }} </h4>
	</header>

	<div class="row">
		<div class="col-md-3 col-sm-6">
			<article class="card card-post">
			  <img src="assets/images/posts/1.jpg" class="card-img-top">
			  <div class="card-body">
			    <h6 class="title">{{ 'TRADE-ASSURANCE' | translate }} </h6>
			    <p class="small text-uppercase text-muted">{{ 'ORDER-PROTECTION' | translate }} </p>
			  </div>
			</article> <!-- card.// -->
		</div> <!-- col.// -->
		<div class="col-md-3 col-sm-6">
			<article class="card card-post">
			  <img src="assets/images/posts/2.jpg" class="card-img-top">
			  <div class="card-body">
			    <h6 class="title">{{ 'PAY-ANYTIME' | translate }} </h6>
			    <p class="small text-uppercase text-muted">{{ 'FINANCE-SOLUTION' | translate }} </p>
			  </div>
			</article> <!-- card.// -->
		</div> <!-- col.// -->
		<div class="col-md-3 col-sm-6">
			<article class="card card-post">
			  <img src="assets/images/posts/3.jpg" class="card-img-top">
			  <div class="card-body">
			    <h6 class="title">{{ 'INSPECTION-SOLUTION' | translate }} </h6>
			    <p class="small text-uppercase text-muted">{{ 'EASY-INSPECTION' | translate }} </p>
			  </div>
			</article> <!-- card.// -->
		</div> <!-- col.// -->
		<div class="col-md-3 col-sm-6">
			<article class="card card-post">
			  <img src="assets/images/posts/4.jpg" class="card-img-top">
			  <div class="card-body">
			    <h6 class="title">{{ 'OCEAN-AND-AIR-SHIPPING' | translate }} </h6>
			    <p class="small text-uppercase text-muted">{{ 'LOGISTIC-SERVICES' | translate }} </p>
			  </div>
			</article> <!-- card.// -->
		</div> <!-- col.// -->
	</div> <!-- row.// -->

</section>