<section  class="padding-bottom-sm">

	<header class="section-heading heading-line">
		<h4 class="title-section text-uppercase">{{ 'RECOMMENDED-ITEMS' | translate }} </h4>
	</header>

	<div class="row row-sm">
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a href="#" class="img-wrap"> <img src="assets/images/products/12.jpg"> </a>
				<figcaption class="info-wrap">
					<a href="#" class="title">triad-x2 BACK BLACK</a>
					<div class="price mt-1">€179.00</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a href="#" class="img-wrap"> <img src="assets/images/products/13.jpg"> </a>
				<figcaption class="info-wrap">
					<a href="#" class="title">Helmet 021xC</a>
					<div class="price mt-1">€280.00</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a href="#" class="img-wrap"> <img src="assets/images/products/14.jpg"> </a>
				<figcaption class="info-wrap">
					<a href="#" class="title">Eywea FG5</a>
					<div class="price mt-1">€56.00</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a href="#" class="img-wrap"> <img src="assets/images/products/15.jpg"> </a>
				<figcaption class="info-wrap">
					<a href="#" class="title">NinGr 96</a>
					<div class="price mt-1">€179.00</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a href="#" class="img-wrap"> <img src="assets/images/products/16.jpg"> </a>
				<figcaption class="info-wrap">
					<a href="#" class="title">F-G JKL</a>
					<div class="price mt-1">€179.00</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a href="#" class="img-wrap"> <img src="assets/images/products/17.jpg"> </a>
				<figcaption class="info-wrap">
					<a href="#" class="title">Gloves-lop</a>
					<div class="price mt-1">€280.00</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a href="#" class="img-wrap"> <img src="assets/images/products/18.jpg"> </a>
				<figcaption class="info-wrap">
					<a href="#" class="title">Canta Kear</a>
					<div class="price mt-1">€56.00</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a href="#" class="img-wrap"> <img src="assets/images/products/19.jpg"> </a>
				<figcaption class="info-wrap">
					<a href="#" class="title">Wrapolix</a>
					<div class="price mt-1">€179.00</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a href="#" class="img-wrap"> <img src="assets/images/products/20.jpg"> </a>
				<figcaption class="info-wrap">
					<a href="#" class="title">Ductpri</a>
					<div class="price mt-1">€179.00</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a href="#" class="img-wrap"> <img src="assets/images/products/21.jpg"> </a>
				<figcaption class="info-wrap">
					<a href="#" class="title">WaltX Summit 27.5</a>
					<div class="price mt-1">€179.00</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a href="#" class="img-wrap"> <img src="assets/images/products/22.jpg"> </a>
				<figcaption class="info-wrap">
					<a href="#" class="title">T-shirt Summer x4</a>
					<div class="price mt-1">€280.00</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a href="#" class="img-wrap"> <img src="assets/images/products/23.jpg"> </a>
				<figcaption class="info-wrap">
					<a href="#" class="title">T-shirt PSG</a>
					<div class="price mt-1">€56.00</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
	</div> <!-- row.// -->
</section>