<header class="section-header">
	<nav class="navbar d-none d-md-flex p-md-0 navbar-expand-sm navbar-light border-bottom">
		<div class="container">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarTop4">
		    <ul class="navbar-nav mr-auto">
		    	<li *ngIf="isLoging==true"><span class="nav-link">{{ 'HI' | translate }}, <a href="#"> {{ 'SIGN-IN' | translate }} </a> {{ 'OR' | translate }} <a href="#"> {{ 'REGISTER' | translate }} </a></span></li>
				<li><a href="#" class="nav-link"> {{ 'DEALS' | translate }} </a></li>
				<li><a href="#" class="nav-link"> {{ 'SELL' | translate }} </a></li>
				<li><a href="#" class="nav-link"> {{ 'HELP' | translate }} </a></li>
		    </ul>
		    <ul class="navbar-nav">
				<li class="nav-item dropdown">
				 	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
						 <img *ngIf="lang == 'en'" src="https://www.countryflags.io/um/shiny/24.png"> 
						 <img *ngIf="lang == 'fr'" src="https://www.countryflags.io/fr/shiny/24.png"> 
					</a>
				    <ul class="dropdown-menu small">
						<li *ngIf="lang == 'fr'"><a class="dropdown-item" (click)="changeLanguageToEnglish()"><img src="https://www.countryflags.io/um/shiny/24.png"> {{ 'ENGLISH' | translate }}</a></li>
						<li *ngIf="lang == 'en'"><a class="dropdown-item" (click)="changeLanguageToFrensh()"><img src="https://www.countryflags.io/fr/shiny/24.png"> {{ 'FRENSH' | translate }}</a></li>
				    </ul>
				</li>
				<li><a href="#" class="nav-link"> My shop </a></li>
				<li><a href="#" class="nav-link"> <i class="fa fa-bell"></i> </a></li>
				<li><a href="#" class="nav-link"> <i class="fa fa-shopping-cart"></i> </a></li>
			</ul> <!-- list-inline //  -->
		  </div> <!-- navbar-collapse .// -->
		</div> <!-- container //  -->
	</nav>

	<div class="container">
		<section class="header-main border-bottom">
			<div class="container">
				<div class="row row-sm align-items-center">
					<div class="col-lg-2 col-md-3 col-6">
						<a href="http://bootstrap-ecommerce.com/" class="brand-wrap">
							<img class="logo" src="assets/images/logo.png">
						</a> <!-- brand-wrap.// -->
					</div>
					<!-- <div class="col-lg col-sm col-md col-6 flex-grow-0">
						<div class="category-wrap dropdown d-inline-block float-md-right">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
								<i class="fa fa-bars"></i> All category 
							</button>
							<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
								<a class="dropdown-item" href="#">Machinery / Mechanical Parts / Tools </a>
								<a class="dropdown-item" href="#">Consumer Electronics / Home Appliances </a>
								<a class="dropdown-item" href="#">Auto / Transportation</a>
								<a class="dropdown-item" href="#">Apparel / Textiles / Timepieces </a>
								<a class="dropdown-item" href="#">Home &amp; Garden / Construction / Lights </a>
								<a class="dropdown-item" href="#">Beauty &amp; Personal Care / Health </a> 
							</div>
						</div> 
					</div> -->
					<div class="col-lg  col-md-6 col-sm-12 col">
						<form action="#" class="search-header">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}">
								<select class="custom-select border-left"  name="category_name">
										<option value="">{{ 'ALL-TYPE' | translate }}</option>
										<option value="codex">{{ 'BIKES' | translate }}</option>
										<option value="comments">{{ 'ACCESSORIES' | translate }}</option>
										<option value="content">{{ 'ACCESSORIES' | translate }}</option>
								</select>
								<div class="input-group-append">
									<button class="btn btn-primary" type="submit">
									<i class="fa fa-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div> <!-- col.// -->
					<div class="col-lg-3 col-sm-12 col-md-12 col-12">
						<div class="widgets-wrap float-md-right">
							<a href="#" class="widget-header mr-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
								<i class="icon icon-sm rounded-circle border fa fa-shopping-cart"></i>
								<span class="notify">2</span>
							</a>
							<a href="#" class="widget-header mr-2">
								<i class="icon icon-sm rounded-circle border fa fa-heart"></i>
							</a>
							<a href="#" class="widget-header mr-2" routerLink="/profile">
								<i class="icon icon-sm rounded-circle border fa fa-user"></i>
							</a>
							<a href="#" class="widget-header mr-2">
								<i class="icon icon-sm rounded-circle border fa fa-store"></i>
							</a>
							<div class="widget-header dropdown">
								<a href="#" data-toggle="dropdown" data-offset="20,10">
									<i class="icon icon-sm rounded-circle border fa fa-comment-dots"></i>
									<span class="notify">2</span>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<form class="px-4 py-3">
										<div class="form-group">
										<label>Email address</label>
										<input type="email" class="form-control" placeholder="email@example.com">
										</div>
										<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" placeholder="Password">
										</div>
										<button type="submit" class="btn btn-primary">Sign in</button>
										</form>
										<hr class="dropdown-divider">
										<a class="dropdown-item" href="#">Have account? Sign up</a>
										<a class="dropdown-item" href="#">Forgot password?</a>
								</div> <!--  dropdown-menu .// -->
							</div>  <!-- widget-header .// -->
						</div> <!-- widgets-wrap.// -->
					</div> <!-- col.// -->
				</div> <!-- row.// -->
			</div> <!-- container.// -->
		</section>
		<nav class="navbar navbar-main navbar-expand pl-0">
		      <ul class="navbar-nav flex-wrap">
		      	<li class="nav-item">
		           <a class="nav-link" routerLink="/index" href="#">{{ 'HOME' | translate }}</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{ 'BIKES' | translate }} Bicycles </a>
					<div class="dropdown-menu dropdown-large">
						<nav class="row">
							<div class="col-4">
								<h6 class="title-section text-uppercase">{{ 'BY-USER' | translate }}</h6>
								<a>Women</a>
								<a>Men</a>
								<a>Youth Girls</a>
								<a>Youth Boys</a>
								<a>Kids Girls</a>
								<a>Kids Boys</a>
							</div>
							<div class="col-4">
								<h6 class="title-section text-uppercase">{{ 'BY-CATEGORIES' | translate }}</h6>
								<a>Road Bikes</a>
								<a>Montain Bikes</a>
								<a>Cross Bikes</a>
								<a>Fitness Bikes</a>
							</div>
							<div class="col-4">
								<h6 class="title-section text-uppercase">{{ 'BY-BRANDS' | translate }}</h6>						
								
								<a><a href="#" class="btn btn-light">2Go</a></a>
								<a><a href="#" class="btn btn-light">2XU</a></a>
								<a><a href="#" class="btn btn-light">3T</a></a>
								<a>
									<div class="mt-3 mt-md-0"><a href="#" class="btn btn-outline-light">More brands</a></div>
								</a>
							</div>
						</nav> <!--  row end .// -->
					</div> <!--  dropdown-menu dropdown-large end.// -->
				</li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">{{ 'E-BIKES' | translate }}</a>
		        </li>
		        <li class="nav-item">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> {{ 'ACCESSORIES' | translate }} </a>
					<div class="dropdown-menu dropdown-large" style="width: 60%;">
						<nav class="row">
							<div class="col-4">
								<h6 class="title-section text-uppercase">{{ 'FOR-THE-BICYCLE' | translate }}</h6>
								<a>Bags and Car Racks</a>
								<a>Bells and Horns</a>
								<a>Bottles and Bottle Cages</a>
								<a>
									<div class="mt-3 mt-md-0"><a href="#" class="btn btn-outline-light">More</a></div>
								</a>
							</div>
							<div class="col-4">
								<h6 class="title-section text-uppercase">{{ 'FOR-THE-RIDER' | translate }}</h6>
								<a>Backpacks</a>
								<a>Compression and Inner Wear</a>
								<a>Eyewear</a>
								<a>
									<div class="mt-3 mt-md-0"><a href="#" class="btn btn-outline-light">More</a></div>
								</a>
							</div>
							<div class="col-4">
								<h6 class="title-section text-uppercase">{{ 'BY-BRANDS' | translate }}</h6>
								<a><a href="#" class="btn btn-light">2Go</a></a>
								<a><a href="#" class="btn btn-light">2XU</a></a>
								<a><a href="#" class="btn btn-light">3T</a></a>
								<a>
									<div class="mt-3 mt-md-0"><a href="#" class="btn btn-outline-light">{{ 'MORE-BRANDS' | translate }}</a></div>
								</a>
							</div>
						</nav> <!--  row end .// -->
					</div>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">{{ 'REVIEWS' | translate }} </a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">{{ 'SERVICE-AT-HOME' | translate }} </a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">{{ 'SALE' | translate }} </a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">{{ 'OUR-PLATFORM' | translate }} </a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">{{ 'DEALS' | translate }} </a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">{{ 'UNDER$100' | translate }} </a>
		        </li>
		      </ul>
		</nav> <!-- navbar-main  .// -->

	</div> <!-- container.// -->

		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
			<div class="offcanvas-header">
				<a id="offcanvasRightLabel" style="color:rgb(118, 118, 118);" >Shopping Cart</a>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<section class="section-content padding-y" style="font-size: small;">
					<div class="container">
						<div class="row">
							<main class="col-md-12">
								<div class="card">
									<table class="table table-borderless table-shopping-cart">
										<thead class="text-muted">
											<tr class="small text-uppercase">
												<th scope="col">Product</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<figure class="itemside">
														<div class="aside">
															<img src="assets/images/products/18.jpg" style="width: 50px;height: 50px;" class="img-sm">
														</div>
														<figcaption class="info">
															<a href="#" class="title text-dark">Glovs 3xp</a>
															<div class="btn-group me-2" role="group" aria-label="First group">
																<button type="button" class="btn btn-primary">-</button>
																<button type="button" class="btn btn-outline-primary">2</button>
																<button type="button" class="btn btn-primary">+</button>
															</div>
														</figcaption>
													</figure>
												</td>
												
												<td>
													<a href="#" class="btn" style="height: 30px;width:30px;color: gray; position: absolute;left: 90%;font-size: small;">X</a>
													<div class="price-wrap" style="position:relative;top: 30px;"> 
														<va class="text-muted"> $315.20 </va> 
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<figure class="itemside">
														<div class="aside">
															<img src="assets/images/products/26.jpg" style="width: 50px;height: 50px;" class="img-sm">
														</div>
														<figcaption class="info">
															<a href="#" class="title text-dark">Sho-Ml 215</a>
															<div class="btn-group me-2" role="group" aria-label="First group">
																<button type="button" class="btn btn-primary">-</button>
																<button type="button" class="btn btn-outline-primary">2</button>
																<button type="button" class="btn btn-primary">+</button>
															</div>
														</figcaption>
													</figure>
												</td>
												
												<td>
													<a href="#" class="btn" style="height: 30px;width:30px;color: gray; position: absolute;left: 90%;font-size: small;">X</a>
													<div class="price-wrap" style="position:relative;top: 30px;"> 
														<va class="text-muted"> $315.20 </va> 
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<figure class="itemside">
														<div class="aside">
															<img src="assets/images/products/35.jpg" style="width: 50px;height: 50px;" class="img-sm">
														</div>
														<figcaption class="info">
															<a href="#" class="title text-dark">T-shirt MC Po 21</a>
															<div class="btn-group me-2" role="group" aria-label="First group">
																<button type="button" class="btn btn-primary">-</button>
																<button type="button" class="btn btn-outline-primary">2</button>
																<button type="button" class="btn btn-primary">+</button>
															</div>
														</figcaption>
													</figure>
												</td>
												
												<td>
													<a href="#" class="btn" style="height: 30px;width:30px;color: gray; position: absolute;left: 90%;font-size: small;">X</a>
													<div class="price-wrap" style="position:relative;top: 30px;"> 
														<va class="text-muted"> $315.20 </va> 
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</main>
						</div>
					</div>
				</section>
			</div>
			<div class="card">
				<div class="card-body">
						<dl class="dlist-align">
							<dt>Total price:</dt>
							<dd class="text-right">USD 568</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Discount:</dt>
							<dd class="text-right">USD 658</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Total:</dt>
							<dd class="text-right  h5"><strong>$1,650</strong></dd>
						</dl>
						<hr>
						<p class="text-center mb-3">
							<img src="assets/images/misc/payments.png" height="26">
						</p>
				</div> <!-- card-body.// -->
			</div>
			<div class="btn-group btngroup-style" role="group" aria-label="Basic outlined example">
				<button type="button" class="btn btn-outline-primary">Checkout</button>
				<button type="button" class="btn btn-outline-primary">View Cart</button>
			</div>
		</div>
</header>