<header class="section-header">
	<nav class="navbar d-none d-md-flex p-md-0 navbar-expand-sm navbar-light border-bottom">
		<div class="container">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarTop4">
		    <ul class="navbar-nav mr-auto">
		    	<li *ngIf="isLoging==true"><span class="nav-link">{{ 'HI' | translate }}, <a href="#" routerLink="/auth/login"> {{ 'SIGN-IN' | translate }} </a> {{ 'OR' | translate }} <a href="#" routerLink="/auth/register"> {{ 'REGISTER' | translate }} </a></span></li>
				<li><a href="#" class="nav-link"> {{ 'DEALS' | translate }} </a></li>
				<li><a href="#" class="nav-link"> {{ 'SELL' | translate }} </a></li>
				<li><a href="#" class="nav-link"> {{ 'HELP' | translate }} </a></li>
		    </ul>
		    <ul class="navbar-nav">
				<li class="nav-item dropdown">
				 	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
						 <img *ngIf="lang == 'en'" src="https://www.countryflags.io/um/shiny/24.png"> 
						 <img *ngIf="lang == 'fr'" src="https://www.countryflags.io/fr/shiny/24.png"> 
					</a>
				    <ul class="dropdown-menu small">
						<li *ngIf="lang == 'fr'"><a class="dropdown-item" (click)="changeLanguageToEnglish()"><img src="https://www.countryflags.io/um/shiny/24.png"> {{ 'ENGLISH' | translate }}</a></li>
						<li *ngIf="lang == 'en'"><a class="dropdown-item" (click)="changeLanguageToFrensh()"><img src="https://www.countryflags.io/fr/shiny/24.png"> {{ 'FRENSH' | translate }}</a></li>
				    </ul>
				</li>
			</ul>
			<div class="widget dropdown d-inline-block" *ngIf="isLoging==false">
				<a href="#" class="icontext mr-4 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<img class="icon icon-xs rounded-circle" [src]="User.imgProfile">
					<div class="text">
						Hi, {{ User.nom }} {{ User.prenom }}
					</div>
				</a> <!-- iconbox // -->
				<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
					<a class="dropdown-item" routerLink="/profile" href="#">My profile</a>
					<a class="dropdown-item" href="#">Settings</a>
					<a class="dropdown-item" href='javascript:void(0)' (click)="signOut()">Log out</a>
				</div>
			</div>
		  </div> <!-- navbar-collapse .// -->
		</div> <!-- container //  -->
	</nav>

	<div class="container">
		<section class="header-main border-bottom">
			<div class="container">
				<div class="row row-sm align-items-center">
					<div class="col-lg-2 col-md-3 col-6">
						<a href="http://bootstrap-ecommerce.com/" class="brand-wrap">
							<img class="logo" src="assets/images/logo.png">
						</a>
					</div>
					<div class="col-lg  col-md-6 col-sm-12 col">
						<form action="#" class="search-header">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}">
								<select class="custom-select border-left"  name="category_name">
										<option value="">{{ 'ALL-TYPE' | translate }}</option>
										<option value="codex">{{ 'BIKES' | translate }}</option>
										<option value="comments">{{ 'ACCESSORIES' | translate }}</option>
										<option value="content">{{ 'ACCESSORIES' | translate }}</option>
								</select>
								<div class="input-group-append">
									<button class="btn btn-primary" type="submit">
									<i class="fa fa-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div> <!-- col.// -->
					<div class="col-lg-3 col-sm-12 col-md-12 col-12" *ngIf="isLoging==false">
						<div class="widgets-wrap float-md-right">
							<a href="#" class="widget-header mr-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
								<i class="icon icon-sm rounded-circle border fa fa-shopping-cart"></i>
								<span class="notify">{{ _numberofpurchases }}</span>
							</a>
							<a href="#" class="widget-header mr-2" routerLink="/profile">
								<i class="icon icon-sm rounded-circle border fa fa-user"></i>
							</a>
							<a href="#" class="widget-header mr-2" routerLink="/shoping-cart">
								<i class="icon icon-sm rounded-circle border fa fa-store"></i>
							</a>
							<a href="#" class="widget-header mr-2" routerLink="/shoping-all">
								<i class="icon icon-sm rounded-circle border fa fa-truck"></i>
							</a>
							<div class="widget-header dropdown">
								<a href="#" data-toggle="dropdown" data-offset="20,10">
									<i class="icon icon-sm rounded-circle border fa fa-comment-dots"></i>
									<span class="notify">2</span>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<form class="px-4 py-3">
										<div class="form-group">
										<label>Email address</label>
										<input type="email" class="form-control" placeholder="email@example.com">
										</div>
										<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" placeholder="Password">
										</div>
										<button type="submit" class="btn btn-primary">Sign in</button>
										</form>
										<hr class="dropdown-divider">
										<a class="dropdown-item" href="#">Have account? Sign up</a>
										<a class="dropdown-item" href="#">Forgot password?</a>
								</div> <!--  dropdown-menu .// -->
							</div>  <!-- widget-header .// -->
						</div> <!-- widgets-wrap.// -->
					</div> <!-- col.// -->
				</div> <!-- row.// -->
			</div> <!-- container.// -->
		</section>
		<nav class="navbar navbar-main navbar-expand pl-0">
		      <ul class="navbar-nav flex-wrap">
		      	<li class="nav-item">
		           <a class="nav-link" routerLink="/index" href="#">{{ 'HOME' | translate }}</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{ 'BIKES' | translate }} </a>
					<div class="dropdown-menu dropdown-large">
						<nav class="row">
							<div class="col-4">
								<h6 class="title-section text-uppercase">{{ 'BY-USER' | translate }}</h6>
								<a *ngFor = "let univer of Univers"><a (click)="BikesByUser(univer._id)">{{univer.libelle}}</a></a>
							</div>
							<div class="col-4">
								<h6 class="title-section text-uppercase">{{ 'BY-CATEGORIES' | translate }}</h6>
								<a *ngFor = "let categorie of CategoriesOfBike"><a (click)="BikesByCategorie(categorie._id)">{{categorie.libelle}}</a></a>
							</div>
							<div class="col-4">
								<h6 class="title-section text-uppercase">{{ 'BY-BRANDS' | translate }}</h6>						
								<!-- <a *ngFor = "let brand of MarqueOfBike"><a (click)="BikesByMarque(brand._id)">{{brand.libelle}}</a></a> -->
								<span *ngFor = "let brand of MarqueOfBike" class="badge bg-light text-dark brandStyle"  (click)="BikesByMarque(brand._id)">{{brand.libelle}}</span>
								<!-- <a>
									<div class="mt-3 mt-md-0"><a href="#" class="btn btn-outline-light">More brands</a></div>
								</a> -->
							</div>
						</nav> <!--  row end .// -->
					</div> <!--  dropdown-menu dropdown-large end.// -->
				</li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">{{ 'E-BIKES' | translate }}</a>
		        </li>
		        <li class="nav-item">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> {{ 'ACCESSORIES' | translate }} </a>
					<div class="dropdown-menu dropdown-large" style="width: 60%;font-size: small;">
						<nav class="row">
							<div class="col-4">
								<h6 class="title-section text-uppercase">{{ 'FOR-THE-BICYCLE' | translate }}</h6>
								<a *ngFor = "let categorie of CategoriesOfAccessoireOfBikes"><a (click)="BikesByAccessorieOfBike(categorie._id)">{{categorie.libelle}}</a></a>
							</div>
							<div class="col-4">
								<h6 class="title-section text-uppercase">{{ 'FOR-THE-RIDER' | translate }}</h6>
								<a *ngFor = "let categorie of CategoriesOfAccessoireOfBikers"><a (click)="BikesByAccessorieOfBikers(categorie._id)">{{categorie.libelle}}</a></a>
							</div>
							<div class="col-4">
								<h6 class="title-section text-uppercase">{{ 'BY-BRANDS' | translate }}</h6>
								<span *ngFor = "let brand of MarqueOfAccessoire" class="badge bg-light text-dark brandStyle"  (click)="AccessorieByMarque(brand._id)">{{brand.libelle}}</span>
							</div>
						</nav>
					</div>
		        </li>
				<li class="nav-item">
					<a class="nav-link" href="#" routerLink="/review">{{ 'REVIEWS' | translate }} </a>
				  </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#" routerLink="/service-at-home">{{ 'SERVICE-AT-HOME' | translate }} </a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#" routerLink="/all-products"><span class="badge bg-danger">{{ 'SALE' | translate }}</span></a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">{{ 'OUR-PLATFORM' | translate }} </a>
		        </li>
		        <!-- <li class="nav-item">
		          <a class="nav-link" href="#">{{ 'DEALS' | translate }} </a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">{{ 'UNDER$100' | translate }} </a>
		        </li> -->
		      </ul>
		</nav> <!-- navbar-main  .// -->

	</div> <!-- container.// -->

		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
			<div class="offcanvas-header">
				<a id="offcanvasRightLabel" style="color:rgb(118, 118, 118);" >Shopping Cart</a>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<section class="section-content padding-y" style="font-size: small;">
					<div class="container">
						<div class="row">
							<main class="col-md-12">
								<div class="card"> 
									<table class="table table-borderless table-shopping-cart">
										<thead class="text-muted">
											<tr class="small text-uppercase">
												<th scope="col">Product</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor = "let produit of LigneCommandes">
												<td>
													<figure class="itemside">
														<div class="aside">
															<img [src]="produit.product.Image[0]" style="width: 50px;height: 50px;" class="img-sm">
														</div>
														<figcaption class="info">
															<a href="#" class="title text-dark">{{ produit.product.libelle }}</a>
															<div class="btn-group me-2" role="group" aria-label="First group">
																<div class="input-group mb-3 input-spinner">
																	<div class="input-group-prepend">
																	  <button class="btn btn-light" (click)="addQuantity(produit._id,produit)" type="button" id="button-plus"> + </button>
																	</div>
																	<input type="text" disabled class="form-control" [(ngModel)]="produit.qte">
																	<div class="input-group-append">
																	  <button class="btn btn-light" (click)="minusQuantity(produit._id,produit)" type="button" id="button-minus"> &minus; </button>
																	</div>
																  </div>
															</div>
														</figcaption>
													</figure>
												</td>
												
												<td>
													<button type="button" class="btn-close text-reset" aria-label="Close" (click)="deleteLigneCommande(produit._id)"></button>
													<div class="price-wrap"> 
														<va class="text-muted"> ${{ produit.product.prixVent *  produit.qte}} </va> <br>
														<small class="text-muted"> ${{ produit.product.prixVent}} each</small> 
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</main>
						</div>
					</div>
				</section>
			</div>
			<div class="card">
				<div class="card-body">
						<dl class="dlist-align">
							<dt>Total price:</dt>
							<dd class="text-right">USD {{ _totalePrice }}</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Discount:</dt>
							<dd class="text-right">USD {{ _discount }}</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Total:</dt>
							<dd class="text-right  h5"><strong>${{ _total }}</strong></dd>
						</dl>
						<hr>
						<p class="text-center mb-3">
							<img src="assets/images/misc/payments.png" height="26">
						</p>
				</div> <!-- card-body.// -->
			</div>
			<div class="btn-group btngroup-style" role="group" aria-label="Basic outlined example">
				<button type="button" class="btn btn-outline-primary">Checkout</button>
				<button type="button" routerLink="/shoping-cart" class="btn btn-outline-primary">View Cart</button>
			</div>
		</div>
</header>